body {
    background: #f4f4f4;
    position: relative;
    overflow-x: hidden;
}

.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

.mycontainer {
    will-change: width, height;
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: lightblue;
    z-index: 2;
    overflow: hidden;
    border-right: 2px solid lightslategrey;
    transition: 1.5s;
     /* transition-timing-function: ease; */
    transition-timing-function: cubic-bezier(.24,.77,.37,.91) /*cubic-bezier(0.25,0.1,0.25,1) */ ;
}

.myitem {
    width: 50vw;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.myitem > h1 {
    margin: 2rem;
    color: lightseagreen;
}

.myitem > p {
    color: black;
    font-size: 1.2rem; 
    margin: 2rem;
    text-align: justify;
}

#otherpart {
    transition: 1.5s;
     /* transition-timing-function: ease; */
    transition-timing-function: /*cubic-bezier(0.25,0.1,0.25,1);*/ cubic-bezier(.24,.77,.37,.91);
    transform: translateX(400px) translateY(-400px) rotate(30deg) skewY(-20deg) scale(1.6);
}
